@import "tailwindcss";

:root {
  --primary: #e8f9ff;
  --secondary: #fbfbfb;
  --tertiary: #09122c;
}

body {
  background: var(--primary);
  color: var(--tertiary);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.hero_tran {
  position: relative;
  overflow: hidden;
  color: red;
  animation: changecolor linear 5s infinite;
}

.hero_arrow {
  position: relative;
}
.hero_arrow::after {
  content: "";
  background: url("../../public/arrow-1.png");

  position: absolute;
  width: 100px;
  height: 100px;
}

.our_service_1,
.our_service_2,
.our_service_3,
.our_service_4 {
  position: relative;
  transition: all 0.8s;
}

.our_service_1::after {
  content: "";
  position: absolute;
  background: var(--primary);
  width: 25px;
  height: 25px;
  bottom: -4px;
  right: -4px;
  border-top: solid 4px black;
  border-left: solid 4px black;
  border-top-left-radius: 10px;
}

.our_service_1:hover {
  transform: scale(1.1);
}
.our_service_2::after {
  content: "";
  position: absolute;
  background: var(--primary);
  width: 25px;
  height: 25px;
  bottom: -4px;
  left: -4px;
  border-top: solid 4px black;
  border-right: solid 4px black;
  border-top-right-radius: 10px;
}

.our_service_3::after {
  content: "";
  position: absolute;
  background: var(--primary);
  width: 25px;
  height: 25px;
  top: -4px;
  right: -4px;
  border-bottom: solid 4px black;
  border-left: solid 4px black;
  border-bottom-left-radius: 10px;
}
.our_service_4::after {
  content: "";
  position: absolute;
  background: var(--primary);
  width: 25px;
  height: 25px;
  top: -4px;
  left: -4px;
  border-bottom: solid 4px black;
  border-right: solid 4px black;
  border-bottom-right-radius: 10px;
}
.fade-in-section {
  opacity: 0;
  transform: translateY(50px);
  transition:
    opacity 0.8s ease-out,
    transform 0.8s ease-out;
  will-change: opacity, transform;
}

.fade-in-section.visible {
  opacity: 1;
  transform: translateY(0);
}

.our_service_1:hover,
.our_service_2:hover,
.our_service_3:hover,
.our_service_4:hover {
  transform: scale(1.1);
}

.contact_us {
  max-width: 768px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  background: white;
  margin-top: 40px;
  border-radius: 20px;
  position: relative;
}

.contact_us img {
  height: 500px;
  display: block;
  border-radius: 20px;
}
.contact_us div {
  background-color: white;
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.contact_us div > * {
  display: block;
}
.contact_us .call_us,
.contact_us .address,
.contact_us .email_chat {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
  font-size: 20px;
  font-weight: 600;
}
.contact_us span {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 18px;
  right: 0;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .contact_us {
    flex-direction: column;
    padding: 20px 0;
  }
  .contact_us .call_us,
  .contact_us .address,
  .contact_us .email_chat {
    gap: 8px;
    font-size: 14px;
    font-weight: 600;
  }
  .contact_us span {
    top: unset;
    bottom: 0;
  }
}
@keyframes heroarrowjup {
  50% {
    /* transform: translatex(20px); */
  }
}

@keyframes changecolor {
  0% {
    color: rgb(18, 255, 18);
  }
  10% {
    color: rgb(18, 255, 18);
  }
  30% {
    color: rgb(255, 25, 25);
  }
  40% {
    color: rgb(255, 25, 25);
  }
  50% {
    color: rgb(47, 94, 251);
  }
  60% {
    color: rgb(47, 94, 251);
  }
  70% {
    color: rgb(199, 0, 199);
  }
  80% {
    color: rgb(199, 0, 199);
  }
}
